<header>
    <app-navbar></app-navbar>
</header>

<div class="app" style="margin-top: 120px;">
    <div class="container mt-5">
        <h1 class="text-center mb-2 title">Reservas en espera</h1>
        <div class="row d-flex justify-content-center" style="width: 100%;">
            <div class="col-md-15">
                <div class="bg-white">
                    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" style="font-size: 20px;" id="faq_tab_1-tab"
                            data-bs-toggle="tab" data-bs-target="#faq_tab_1" type="button" role="tab"
                            aria-controls="faq_tab_1" aria-selected="true" (click)="getReserveStatus(IN_PROGRESS)">
                                <div class="d-flex flex-column lh-lg"> <i class='bx bxs-plane-alt'></i> <span>En proceso</span> </div>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" style="font-size: 20px;" id="faq_tab_2-tab"
                            data-bs-toggle="tab" data-bs-target="#faq_tab_2" type="button" role="tab"
                            aria-controls="faq_tab_2" aria-selected="false" (click)="getReserveStatus(ACCEPTED)">
                                <div class="d-flex flex-column lh-lg"> <i class='bx bxs-shopping-bag'></i> <span>Aprobado</span> </div>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" style="font-size: 20px;" id="faq_tab_3-tab"
                            data-bs-toggle="tab" data-bs-target="#faq_tab_3" type="button" role="tab"
                            aria-controls="faq_tab_3" aria-selected="false" (click)="getReserveStatus(FINALIZED)">
                                <div class="d-flex flex-column lh-lg"> <i class='bx bx-check-circle'></i> <span>Finalizado</span> </div>
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">

                        <div class="tab-pane fade active show" id="faq_tab_1" 
                        role="tabpanel" aria-labelledby="faq_tab_1-tab">
                            <div class="container p-3 scroll-y">
                                <div class="d-flex justify-content-center align-items-center" *ngIf="listStatusReserve == null">
                                    <h1 class="text-reserves-pending">No tienes reservas pendientes</h1>
                                </div>
                                
                                <div *ngFor="let reserve of listStatusReserve" class="border-bottom p-3 d-flex justify-content-between align-items-center">
                                    <div class="d-flex flex-column"> 
                                        <span style="font-weight: bold; font-size: 18px;">Código: {{reserve.id}}</span>
                                    </div>
                                    <div>
                                        <button class="btn btn-success custom-button px-4" (click)="showPageDetails(reserve.id)">
                                            Ver Detalles
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="faq_tab_2" role="tabpanel" aria-labelledby="faq_tab_2-tab">
                            <div class="container p-3 scroll-y">
                                <div class="d-flex justify-content-center align-items-center" *ngIf="listStatusReserve == null">
                                    <h1 class="text-reserves-pending">No tienes reservas pendientes</h1>
                                </div>

                                <div *ngFor="let reserve of listStatusReserve" class="border-bottom p-3 d-flex justify-content-between align-items-center">
                                    <div class="colo d-flex flex-column">
                                        <span style="border-bottom: 3px solid rgb(10, 255, 10); font-weight: bold; font-size: 18px;">Código: {{reserve.id}}</span>
                                    </div>
                                    <div>
                                        <button class="btn btn-success custom-button px-4" (click)="showPageDetails(reserve.id)">
                                            Ver Detalles
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="faq_tab_3" role="tabpanel" aria-labelledby="faq_tab_3-tab">
                            <div class="container p-3 scroll-y">
                                <div class="d-flex justify-content-center align-items-center" *ngIf="listStatusReserve == null">
                                    <h1 class="text-reserves-pending">No tienes reservas pendientes</h1>
                                </div>
                                <div *ngFor="let reserve of listStatusReserve" class="border-bottom p-3 d-flex justify-content-between align-items-center">
                                    <div class="d-flex flex-column"> 
                                        <span style="border-bottom: 3px solid blue; font-weight: bold; font-size: 18px;">Código: {{reserve.id}}</span>
                                    </div>
                                    <div>
                                        <button class="btn btn-success custom-button px-4" (click)="showPageDetails(reserve.id)">
                                            Ver Detalles
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>