<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="../">Biblioteca Col</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="../">Catalogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="../catalogo/historial">Historal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bienvenido, {{nameCustomer}}</a>
          </li>
        </ul>
        
        <strong>
          <span class="navbar-text me-5" style="cursor:pointer" routerLink="../catalogo/reservas">
              Mis reservas
          </span>
          
          <span class="navbar-text me-5" style="cursor:pointer" routerLink="../catalogo/reservas">
            {{numberBook}}
        </span>
        </strong>
        <!--<li class="nav-item">
          <a class="nav-link"  routerLink="../reservas">Reservas</a>
        </li>--> 
        <button class="btn btn-success" type="submit" (click)="SignOff()">Cerrar Sesion</button>
      </div>
    </div>
  </nav>


<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex flex-row">
      < Icons --
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
       Icon dropdown 
      <li class="nav-item me-3 me-lg-0 dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-user"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

-->