.contra {
    height: 60px;
    font-size: 20px;
}
.login {
    cursor: pointer;
}

.linea-con-texto {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;    
    font-size: 2em;
    font-weight: bold;
    color: rgb(44, 44, 44);
}

.linea-con-texto hr {
    flex-grow: 1;
    border: 1px solid #ccc;
    margin: 0 10px;
}
